{{#each bookmarks}}
  {{#if children}}
    <li class="box-bordered-right">
      {{title}} / {{child_count}}
      <br />
      {{url}}
    </li>
  {{else}}
    <li class="box">
      {{{highlight 'title'}}}
      <br />
      {{{highlight 'url'}}}
    </li>
  {{/if}}
{{else}}
  No results found.
{{/each}}
